.mainPage {
    font-family: sans-serif;
    height: 100vh;
    /*display: grid;*/
    /*grid-template-columns: 100px 1fr;*/
    display: flex;
    flex-direction: row;
}

.sideBar {
    min-width: 90px;
    max-width: 300px;
}

.calendarContent {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 100px 100px 400px 1fr;
    grid-template-areas:
            "navbar navbar"
            "buttonCreate calendarMap"
            "calendar calendarMap"
            "calendarGroup calendarMap";
    margin: 10px;
    flex: auto;
}

.navbar {
    grid-area: navbar;
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding: 30px 0 0 0;
}

.navbar a {
    margin: 0 auto;
    color: #75B79E;
}

.activeLink {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.buttonCreate {
    grid-area: buttonCreate;
    font-family: Open Sans, sans-serif;
}

.buttonCreate button {
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 12px;
    background: linear-gradient(90.07deg, #A7E9AF 2.1%, #6A8CAF 87.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 166px;
    height: 58px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: none;
    margin: 20px 0 0 20px;
}

.miniCalendar {
    grid-area: calendar;
}

.marker {
    grid-area: calendarGroup;
    display: flex;
    flex-direction: column;
}

.marker .item {
    margin: 0 0 15px 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*grid-template-columns: 40px 1fr;*/
}

.marker .text {
    align-self: center;
    margin: 0 0 0 10px;
}

.polygon {
    position: relative;
    top: 50px;
    left: 50px;
    width: 0;
    height: 0;
}

.activeLink {
    color: #00D29D;
}

.activeLink .components {
    color: #00B98A;
}

.submenu {
    position: absolute;
    display: none;
    margin: 5px 0 10px 25px;
}

.submenu:hover {

}

.submenu_item {
    color: #302E2E;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    align-items: center;
    padding: 5px 0 0 10px;
}

.submenu_item:hover {
    background: #EEF9BF;
}

.react {
    padding-left: 10px;
    margin-right: -1px;
}

.figma {
    padding-left: 17px;
    margin-right: 3px;
}

#components:hover .submenu {
    z-index: 10;
    display: grid;
    box-sizing: border-box;
    grid-template-areas: "react"
                         "figma";
    grid-template-rows: 30px 30px;
    grid-auto-columns: 167px;
    padding: 10px 0 10px 0;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}