.sideBar{
    margin: 0;
    padding: 0;
}
button {
    width: 50px;
    height: 50px;
    background-color: #75B79E;
    border: hidden;
    background-repeat : no-repeat;
    text-decoration: none;
}

.open {
    background-image: url("../../images/arrowRight.png");
}

.close{
    background-image: url("../../images/arrowLeft.png");
}

.sidebar,
.sidebarClose {
    margin: 0;
    padding: 0;
    width: 270px;
    background-color: #75B79E;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.sidebarClose {
    width: 100px;
}
/* Сайдбар ссылки */
.sidebar a,
.sidebarClose a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

/* Активная/текущая ссылка */
.sidebar a.active,
.sidebarClose a.active {
    background-color: #4CAF50;
    color: white;
}

/* Ссылки при наведении мыши */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Содержание страницы. Значение свойства margin-left должно соответствовать значению свойства width боковой панели */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

/*!* На экранах шириной менее 700 пикселей превратить боковую панель в верхнюю панель *!*/
/*@media screen and (max-width: 700px) {*/
/*    .sidebar {*/
/*        width: 100%;*/
/*        height: auto;*/
/*        position: relative;*/
/*    }*/
/*    .sidebar a {float: left;}*/
/*    div.content {margin-left: 0;}*/
/*}*/

/*!* На экранах размером менее 400 пикселей панель отображать вертикально, а не горизонтально *!*/
/*@media screen and (max-width: 400px) {*/
/*    .sidebar a {*/
/*        text-align: center;*/
/*        float: none;*/
/*    }*/
/*}*/