.sideBarOpen {
    margin: 0;
    padding: 0;
    height: 100%;
}

.logoClose {
    margin: 20px 10px 20px 20px;
}

.logoOpen {
    margin: 20px 0 20px 0;
}

.sideBarOpen button,
.sideBarClose button{
    width: 50px;
    height: 25px;
    background-color: #75B79E;
    border: hidden;
    background-repeat: no-repeat;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}

.open {
    background-image: url("../../images/arrowRight.png");
}

.close {
    background-image: url("../../images/arrowLeft.png");
}

.sidebarOpen,
.sidebarClose {
    margin: 0;
    padding: 0;
    width: 270px;
    background-color: #75B79E;
    /*position: fixed;*/
    height: 100%;
    overflow: auto;

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.sidebarClose {
    width: 90px;
}

/* Сайдбар ссылки */
.sidebarOpen a,
.sidebarClose a{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
}

.sideBarClose {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    border: 1px solid red;
}
/* Активная/текущая ссылка */
.sidebarOpen a.active,
.sidebarClose a.active {
    background-color: #A7E9AF;
    /*color: #FFFFFF;*/
}

/* Ссылки при наведении мыши */
.sidebarOpen a:hover:not(.active) {
    background-color: #A7E9AF;
    color: #FFFFFF;
}

.sideBarOpen a img {
    margin: 0 10px 0 15px;
}

/* Содержание страницы. Значение свойства margin-left должно соответствовать значению свойства width боковой панели */
/*div.content {*/
/*    margin-left: 270px;*/
/*    padding: 1px 16px;*/
/*    height: 1000px;*/
/*}*/
.exitButton {

}

/*!* На экранах шириной менее 700 пикселей превратить боковую панель в верхнюю панель *!*/
/*@media screen and (max-width: 700px) {*/
/*    .sidebar {*/
/*        width: 100%;*/
/*        height: auto;*/
/*        position: relative;*/
/*    }*/
/*    .sidebar a {float: left;}*/
/*    div.content {margin-left: 0;}*/
/*}*/

/*!* На экранах размером менее 400 пикселей панель отображать вертикально, а не горизонтально *!*/
/*@media screen and (max-width: 400px) {*/
/*    .sidebar a {*/
/*        text-align: center;*/
/*        float: none;*/
/*    }*/
/*}*/