.registration {
    display: grid;
    /*grid-template-columns: 28vw 15vw 26vw 30vw;*/
    grid-template-columns: 1fr;
    grid-template-rows: 100px 500px 50px;
    grid-template-areas: "header"
    "form"
    "footer";
    grid-gap: 0;
}

.header {
    grid-area: header;
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.topic {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
    background: linear-gradient(91.9deg, #6A8CAF 11.31%, #A7E9AF 80.03%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 50px 0 0 0;
}

.active {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
    background: linear-gradient(91.9deg, #6A8CAF 11.31%, #A7E9AF 80.03%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 50px 0 0 0;
    border-bottom: 5px solid #6A8CAF;
}


.form {
    grid-area: form;
}

/*
.previous {
    grid-area: previous;
}

.form {
    grid-area: form;
    width: 337px;
}

.number {
    grid-area: number;
    justify-self: end;
    margin: 0 30px 0 0;
}

.regText {
    font-size: 48px;
    color: #6A8CAF;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.next {
    grid-area: next;
}
*/
.footer {
    grid-area: footer;
    width: 166px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.linkLogIn {
    text-decoration: none;
    color: #A7E9AF;
    font-family: SF Pro Display, sans-serif;
    font-style: normal;
    font-weight: bold;
}
